@keyframes girarTuerca {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tuerca {
    display: inline-block;
    width: 200px;
    height: 200px;
    right: 500%;
    background-image: url('img/tuerca.png');
    background-repeat: no-repeat;
    background-position: 90% 90% ;
    background-size: 30% 30%;
    background-size: cover;
    animation: girarTuerca 2s infinite linear;
}
